---
layout: default
permalink: /people/
title: People
---

<p>Some of the group in action (apparently Mark, Karin, Jacob, Vincent, Carlo were off doing real work).</p>

<!-- <div class="inset-image">
    <img src="{{ site.base }}/img/sampayak.jpg" alt="Sampa-yak"
    class="img-responsive img-rounded">
</div> -->

{% for role in site.roles %}
  <h3>{{ role.name }}</h3>
  <dl class="people">
  {% for item in site.data.people %}
    {% assign person = item[1] %}
    {% if person.role == role.key %}
    {% assign imgurl = false %}
    {% if person.image %}
        {% capture init %}{{ person.image | slice: 0,2 }}{% endcapture %}
        {% if init == "//" %}
            {% assign imgurl = person.image %}
        {% else %}
            {% capture imgurl %}{{site.base}}{{person.image}}{% endcapture %}
        {% endif %}
    {% endif %}
    <a href="{{ site.url }}/people#{{item[0]}}">
    {% if imgurl %}
        <img class="img-circle profile" src="{{imgurl}}" />
    {% else %}
        <svg class="profile"><circle class="noprofile" /></svg>
    {% endif %}
    </a>

    <div id = "{{item[0]}}">
      <dt class="person">
        {% if person.webpage %}
        <a href="{{ person.webpage |escape }}">
        {% endif %}
          {{ person.display_name }}
        {% if person.webpage %}
        </a>
        {% endif %}
      </dt>
      <dd>
        {% if person.bio %}
        <p align="justify">
          {{ person.bio | markdownify }}
        </p>
        {% endif %}
      </dd>
    </div>
    {% endif %}
  {% endfor %}
  </dl>
{% endfor %}
