---
layout: default
permalink: /people/
title: People
role_groups:
    - [fulltime, ugra, ugpa, alum ]
---

<!-- <div class="inset-image">
    <img src="{{ site.base }}/img/sampayak.jpg" alt="Sampa-yak"
    class="img-responsive img-rounded">
</div> -->
<div class="row">
    {% for grp in page.role_groups %}
        <!-- <h3>{{ grp }}</h3><br/> -->
        <div class="col-md-12">
        <!-- >{% if grp contains 'ugra' %}8{% else %}4{% endif %}">      -->
            {% for role in site.roles %}
            <!-- <h3>{{ role.key }}</h3><br/> -->
            {% if grp contains role.key %}
                <h3>{{ role.name }} </h3><br/>
                <ul class="people ">
                {% for item in site.data.people %}
                    {% assign person = item[1] %}
                    {% if person.role == role.key %}
                    <div id = "{{item[0]}}">
                    <li>
                        <!-- {% if person.webpage %}<a href="{{person.webpage}}">{% endif %} -->
                        {% assign imgurl = false %}
                        {% if person.image %}
                            {% capture init %}{{ person.image | slice: 0,2 }}{% endcapture %}
                            {% if init == "//" %}
                                {% assign imgurl = person.image %}
                            {% else %}
                                {% capture imgurl %}{{site.base}}{{person.image}}{% endcapture %}
                            {% endif %}
                        {% endif %}
                        <a href="{{site.url}}/people#{{item[0]}}">
                        {% if imgurl %}
                            <img class="img-circle profile" src="{{imgurl}}" />
                        {% else %}
                            <svg class="profile"><circle class="noprofile" /></svg>
                        {% endif %}
                        </a>
                        <div class="person">
                        <h4>{{person.display_name}}</h4>
                        </a>
                        {% if person.bio %}<p align="justify" class="bio">{{person.bio}}</p>{% endif %}
                        </div>
                    </li>
                    <br/>
                    </div>
                    {% endif %}
                {% endfor %}
                </ul>
            {% endif %}
            {% endfor %}
        </div>
    {% endfor %}
    </div>
    

<!-- <div class="col-md-12">
{% for role in site.roles %}
  <h3>{{ role.name }}</h3>
  <dl class="people">
  {% for item in site.data.people %}
    {% assign person = item[1] %}
    {% if person.role == role.key %}
    <div id = "{{item[0]}}">
      <dt class="person">
        {% if person.webpage %}
        <a href="{{ person.webpage |escape }}">
        {% endif %}
          {{ person.display_name }}
        {% if person.webpage %}
        </a>
        {% endif %}
      </dt>
      <dd>
          {% assign imgurl = false %}
          {% if person.image %}
              {% capture init %}{{ person.image | slice: 0,2 }}{% endcapture %}
              {% if init == "//" %}
                  {% assign imgurl = person.image %}
              {% else %}
                  {% capture imgurl %}{{site.base}}{{person.image}}{% endcapture %}
              {% endif %}
          {% endif %}
          <a href="{{ site.url }}/people#{{item[0]}}">
          {% if imgurl %}
              <img class="img-circle profile inset-image" src="{{imgurl}}" />
          {% else %}
              <svg class="profile"><circle class="noprofile" /></svg>
          {% endif %}
          </a>

        {% if person.bio %}
        <p align="justify">
          {{ person.bio | markdownify }}
        </p>
        {% endif %}
      </dd>
    </div>
    {% endif %}
  {% endfor %}
  </dl>
{% endfor %}
</div> -->