<table class="table">
<tbody>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2017</strong></big><br />
				
				November
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="http://ieeexplore.ieee.org/document/8284200/">Current peak based device classification in NILM on a low-cost embedded platform using extra-trees</a>.
			</span><br />
			<span class="authors">
				A. K. Jain, S. S. Ahmed, P. Sundaramoorthy, R. Thiruvengadam, and V. Vijayaraghavan.
			</span><br />
			<span class="venuetype"></span><span class="venue">2017 IEEE MIT Undergraduate Research Technology Conference (URTC)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2017</strong></big><br />
				
				October
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="http://ieeexplore.ieee.org/document/8239275/">Rural Indian microgrid design optimization - Intelligent battery sizing</a>.
			</span><br />
			<span class="authors">
				G. Rajan, M. Kavakuntala, V. S. Rajkumar, S. Gnanavel, and V. Vijayaraghavan.
			</span><br />
			<span class="venuetype"></span><span class="venue">2017 IEEE Global Humanitarian Technology Conference (GHTC)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2017</strong></big><br />
				
				September
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="http://ieeexplore.ieee.org/document/8102138/">A machine learning approach for prediction of on-time performance of flights</a>.
			</span><br />
			<span class="authors">
				B. Thiagarajan, L. Srinivasan, A. V. Sharma, D. Sreekanthan, and V. Vijayaraghavan.
			</span><br />
			<span class="venuetype"></span><span class="venue">2017 IEEE/AIAA 36th Digital Avionics Systems Conference (DASC)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2017</strong></big><br />
				
				June
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="ieeexplore.ieee.org/document/8016217/">Low-cost static gesture recognition system using MEMS accelerometers</a>.
			</span><br />
			<span class="authors">
				A. Kannan, A. Ramesh, L. Srinivasan, and V. Vijayaraghavan.
			</span><br />
			<span class="venuetype"></span><span class="venue">2017 Global Internet of Things Summit (GIoTS)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2017</strong></big><br />
				
				April
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="http://ieeexplore.ieee.org/document/7934745/">Low-cost wireless intelligent two hand gesture recognition system</a>.
			</span><br />
			<span class="authors">
				A. Natesh, G. Rajan, B. Thiagarajan, and V. Vijayaraghavan.
			</span><br />
			<span class="venuetype"></span><span class="venue">2017 Annual IEEE International Systems Conference (SysCon)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2016</strong></big><br />
				
				October
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="http://ieeexplore.ieee.org/document/7857315/">Intelligent dynamic grid forecasting algorithm for a grid-connected solar PV based microgrid</a>.
			</span><br />
			<span class="authors">
				H. Sekar, R. Rajashekar, F. Faisal, R. Ganpati, and V. Vijayaraghavan.
			</span><br />
			<span class="venuetype"></span><span class="venue">2016 IEEE Global Humanitarian Technology Conference (GHTC)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2016</strong></big><br />
				
				October
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="http://ieeexplore.ieee.org/document/7791140/">Low-cost non-intrusive device identification system</a>.
			</span><br />
			<span class="authors">
				G. Srinivasan, C. Anandan, S. A. K. Jain, S. S. Ahmed, and V. Vijayaraghavan.
			</span><br />
			<span class="venuetype"></span><span class="venue">2016 IEEE Dallas Circuits and Systems Conference (DCAS)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2016</strong></big><br />
				
				April
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="http://ieeexplore.ieee.org/document/7490642/">Low-cost intelligent static gesture recognition system</a>.
			</span><br />
			<span class="authors">
				H. Sekar, R. Rajashekar, G. Srinivasan, P. Suresh, and V. Vijayaraghavan.
			</span><br />
			<span class="venuetype"></span><span class="venue">2016 Annual IEEE Systems Conference (SysCon)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2015</strong></big><br />
				
				October
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="http://ieeexplore.ieee.org/document/7343950/">Flexible D-agent architecture for DER operation in a rural Indian microgrid</a>.
			</span><br />
			<span class="authors">
				V. Vel, K. Meghana, R. Ramesh, H. Sekar, and V. Vijayaraghavan.
			</span><br />
			<span class="venuetype"></span><span class="venue">2015 IEEE Global Humanitarian Technology Conference (GHTC)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2015</strong></big><br />
				
				October
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="http://ieeexplore.ieee.org/document/7343995/">Dynamic and intelligent load servicing strategy for a stand-alone solar PV-based microgrid</a>.
			</span><br />
			<span class="authors">
				A. S. Ganesan, B. Govindarajan, R. Ramesh, V. Vel, and V. Vijayaraghavan.
			</span><br />
			<span class="venuetype"></span><span class="venue">2015 IEEE Global Humanitarian Technology Conference (GHTC)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2014</strong></big><br />
				
				October
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="http://ieeexplore.ieee.org/document/6970270/?arnumber=6970270">Local Content Development Framework and Methodology for knowledge and skill development: IEEE Madras Section SIGHT case study</a>.
			</span><br />
			<span class="authors">
				B. Anand, A. J. Antony Venus, M. Srinivasan, A. N. Victor, Madhuri K., S. P. Sree Rakshaa, V. Vijayaraghavan, and K. Kulkarni.
			</span><br />
			<span class="venuetype"></span><span class="venue">IEEE Global Humanitarian Technology Conference (GHTC 2014)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2014</strong></big><br />
				
				October
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="http://ieeexplore.ieee.org/document/6970349/?tp=&amp;arnumber=6970349&amp;url=http:%2F%2Fieeexplore.ieee.org%2Fxpls%2Fabs_all.jsp%3Farnumber%3D6970349">Low-cost intelligent gesture recognition engine for audio-vocally impaired individuals</a>.
			</span><br />
			<span class="authors">
				Rishikanth C, H. Sekar, G. Rajagopal, R. Rajesh, and V. Vijayaraghavan.
			</span><br />
			<span class="venuetype"></span><span class="venue">IEEE Global Humanitarian Technology Conference (GHTC 2014)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2014</strong></big><br />
				
				October
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="http://ieeexplore.ieee.org/document/6970298/?arnumber=6970298">Real-world proficiency augmentation among learners through merger of project based learning (PBL) and student social responsibility (SSR): IEEE Madras Section SIGHT case study</a>.
			</span><br />
			<span class="authors">
				B. Anand, A. J. Antony Venus, M. Srinivasan, A. N. Victor, Madhuri K., S. P. Sree Rakshaa, V. Vijayaraghavan, and K. Kulkarni.
			</span><br />
			<span class="venuetype"></span><span class="venue">IEEE Global Humanitarian Technology Conference (GHTC 2014)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2014</strong></big><br />
				
				August
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="http://ieeexplore.ieee.org/document/7026324/">Low cost cloud based intelligent farm automation system using Bluetooth Low Energy</a>.
			</span><br />
			<span class="authors">
				G. Rajagopal, V. M. Lodd, A. Vignesh, R. Rajesh, and V. Vijayaraghavan.
			</span><br />
			<span class="venuetype"></span><span class="venue">2014 IEEE Region 10 Humanitarian Technology Conference (R10 HTC)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2014</strong></big><br />
				
				August
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="http://www.iot-conference.org/iot2014/posters/">Low-Cost Intelligent Prepaid Energy Meter</a>.
			</span><br />
			<span class="authors">
				Rishikanth C, Akshaya Ravishankar, Anand Vignesh V, S Vikram Vel, Vineeth Vijayaraghavan, and Dhiwaakar Purusothaman S R R.
			</span><br />
			<span class="venuetype"></span><span class="venue">The 4th International Conference on the Internet of Things (IoT 2014), Massachusetts Institute of Technology (IoT 2014)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2014</strong></big><br />
				
				July
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="http://ieeexplore.ieee.org/document/7046232/">Low-cost non-intrusive residential energy monitoring system</a>.
			</span><br />
			<span class="authors">
				A. Ravishankar, A. Vignesh, V. Vel, Dhiwaakar Purusothaman S R R, and V. Vijayaraghavan.
			</span><br />
			<span class="venuetype"></span><span class="venue">2014 IEEE Conference on Technologies for Sustainability (SusTech)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2014</strong></big><br />
				
				May
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="http://ieeexplore.ieee.org/document/6873865/?arnumber=6873865">Design of Arduino-based communication agent for rural Indian microgrids</a>.
			</span><br />
			<span class="authors">
				S. R. R. D. Purusothaman, R. Rajesh, V. Vijayaraghavan, and K. K. Bajaj.
			</span><br />
			<span class="venuetype"></span><span class="venue">2014 IEEE In11ative Smart Grid Technologies - Asia (ISGT ASIA)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2014</strong></big><br />
				
				March
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="http://ieeexplore.ieee.org/document/6805275/?tp=&amp;arnumber=6805275&amp;queryText%3DHybrid%20Battery%20Charging%20System%20Using%20Solar%20PV%20and%20Utility%20Grid">Hybrid battery charging system using solar PV and utility grid</a>.
			</span><br />
			<span class="authors">
				Dhiwaakar Purusothaman S R R, R. Rajesh, K. K. Bajaj, V. Vijayaraghavan, and Venkatesan M.
			</span><br />
			<span class="venuetype"></span><span class="venue">2014 POWER AND ENERGY SYSTEMS: TOWARDS SUSTAINABLE ENERGY</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2013</strong></big><br />
				
				November
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="http://ieeexplore.ieee.org/document/6775603/">Multi-agent system framework for rural Indian microgrids</a>.
			</span><br />
			<span class="authors">
				R. Rajesh, K. K. Bajaj, S. R. R. Dhiwaakar Purusothaman, and V. Vijayaraghavan.
			</span><br />
			<span class="venuetype"></span><span class="venue">2013 IEEE Conference on Clean Energy and Technology (CEAT)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2013</strong></big><br />
				
				November
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="http://ieeexplore.ieee.org/document/6698751/">Implementation of Arduino-based multi-agent system for rural Indian microgrids</a>.
			</span><br />
			<span class="authors">
				S. R. R. D. Purusothaman, R. Rajesh, K. K. Bajaj, and V. Vijayaraghavan.
			</span><br />
			<span class="venuetype"></span><span class="venue">2013 IEEE Innovative Smart Grid Technologies-Asia (ISGT Asia)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2013</strong></big><br />
				
				October
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="http://ieeexplore.ieee.org/document/6713663/?tp=&amp;arnumber=6713663&amp;queryText%3DLow%20Cost%20Green%20Computing%20System%20for%20Education%20in%20Rural%20India%20A%20Scheme%20for%20Sustainable%20Development%20Through%20Education">GreenEduComp: Low cost green computing system for education in Rural India: A scheme for sustainable development through education</a>.
			</span><br />
			<span class="authors">
				M. Srinivasan, Anand. B., Antony Venus A. J., Arun Neol Victor, M. Narayanan, Sree Rakshaa S. P., and V. Vijayaraghavan.
			</span><br />
			<span class="venuetype"></span><span class="venue">2013 IEEE Global Humanitarian Technology Conference (GHTC)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2013</strong></big><br />
				
				September
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="http://ieeexplore.ieee.org/document/6661707/?tp=&amp;arnumber=6661707">An avant garde argumentation of quality-of-service via low-cost cloud-based smart microgrid solution: A rural India perspective</a>.
			</span><br />
			<span class="authors">
				R. Rajesh, S. Vijayakumar, M. Srinivasan, and V. Vijayaraghavan.
			</span><br />
			<span class="venuetype"></span><span class="venue">2013 IEEE Workshop on Environmental Energy and Structural Monitoring Systems</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2013</strong></big><br />
				
				August
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="http://ieeexplore.ieee.org/document/6617328/">Low-cost cloud-based design of smart Rural Energy Device in microgrid: Perspective India: An Energy-on-Demand service for rural India</a>.
			</span><br />
			<span class="authors">
				M. Srinivasan, S. Vijaykumar, R. Rajesh, and V. Vijayaraghavan.
			</span><br />
			<span class="venuetype"></span><span class="venue">2013 1st IEEE Conference on Technologies for Sustainability (SusTech)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2013</strong></big><br />
				
				January
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="http://rpsonline.com.sg/proceedings/9789810780111/html/P2.xml">Wind Profile Modelling Using Statistical Analysis of Weibull Distribution: An Indian Perspective</a>.
			</span><br />
			<span class="authors">
				Vineeth Vijayaraghavan, Mukundhan Srinivasan, K Boopathi, and P Kanagavel.
			</span><br />
			<span class="venuetype"></span><span class="venue">Eighth Asia-Pacific Conference on Wind Engineering</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
</tbody>
</table>
